@use "../../../../assets/styles/abstracts" as *;

#reservation-details {
    background-color: $bg-reservations;
    .details-card {
        @include details-card;
    }
    .edit-form .user-info {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        @media screen and (width > 430px) {
            justify-content: space-between;
            .form-field {
                margin: 0;
                width: calc(50% - 2rem)
            }
        }
    }
}
