@use "../../../../assets/styles/abstracts" as *;

#reservation-details {
    background-color: $bg-reservations;
    .details-card {
        @include details-card;
    }
     .table-info {
    display: flex;
    justify-content: space-between;
  }
}
