@use "../../../../../../assets/styles/abstracts/" as *;

#order-card {
    @include simple-card;
    flex-direction: column;
    text-align: center;
    article{
        padding:0.5rem 0 ;
    }
     @media screen and (width > 400px) {
        .items{
            text-align: start;
        }

         .order-info{
             display: flex;
             justify-content: space-between;
             align-items: end;
             .created-at{
                 text-align: end;
                }
            }
        }

    @media screen and (width > 800px) {
        width:46%;
    }
}
