@use '../../../assets/styles/abstracts' as *;

#admin-home {
    background-color:$bg-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:3rem;
    max-height: 700px;
    a{
        font-size: 1.8rem;
    }
    .orders {
        @include round-btn($order-color,$black,'/icons/dish-svgrepo-com.svg')
    }
    .reservations {
        @include round-btn($reservations-color,$black,'/icons/calendar-svgrepo-com.svg');
    }
    .menu {
        @include round-btn($menu-color,$black,'/icons/restaurant-menu-svgrepo-com.svg')
    }
    .tables {
        @include round-btn($tables-color,$black,'/icons/table-svgrepo-com.svg')
    }
    .time-slots {
        @include round-btn($time-slot-color,$black,'/icons/time-svgrepo-com.svg')
    }
}