@use '../../../../assets/styles/abstracts' as *;

#reservations-manager {
    background-color: $bg-reservations;
    .loader{
        align-items: center;
    }
    .reservations-cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media screen and (width > 800px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}