@use '../../assets/styles/abstracts' as *;

#home {
    .background-image {
        background: url('images/DSCF8786_Istg_-scaled.jpg') 37% 100%/cover no-repeat;
         height: 550px;  
         width: 100%; 

        &::after {
            @include dark-overlay
        }
    }
}