@use '../../assets/styles/abstracts' as *;

#home {
    .hello-section {
        @include bg-image('images/DSCF8786_Istg_-scaled.jpg');
        @include flex-center;
        flex-direction: column;
        gap: 2rem;
        font-size: 2rem;
        text-align: center;
         height: 550px;  
         width: 100%; 
         position: relative;
         color: $white;
    }
}