@use "../../../../../../assets/styles/abstracts/" as *;

#reservation-card {
    @include admin-card;
    display: flex;
    justify-content: space-between;

    a {
        display: block;
        color: $black;
    }
    .right-info {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        .status {
            font-size: 1.2rem;
            margin-bottom: auto;
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
        }
        .reserved {
            background-color: #77c17b;
            color: #2d6f31;
        }
        .awaiting {
            background-color: #ffc877;
            color: #805a22;
        }
        .confirmed {
            background-color: #bebebe;
            color: #605f5f;
        }
    }

}
