@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg-image ($url){
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($url) 37% 100%/cover no-repeat;
}

@mixin button($background-color:#ffffff,$font-color:#000000){
  display: block;
  margin: 1rem;
  text-decoration: none;
  font-weight: 700;
  background-color: $background-color;
  color: $font-color;
  text-transform: uppercase;
  padding: 1rem 2rem;
  max-width: 150px;

}