
//GENERAL
$font-mono: 'JetBrains Mono', monospace;
$dark-grey:#2d2a27;
$light-gray:#D9D9D9;
$black:#000000;
$white:#FFFFFF;

//ADMIN
$bg-grey:#F5F5F5;
$bg-orders:#D4EEF4;
$bg-reservations:#EAD2EC;
$bg-menu:#F1D5D5;
$bg-tables:#D8EBD6;
$bg-time-slot:#F0D7BC;

$order-color:#9FDFEF;
$reservations-color:#DB90E0;
$menu-color:#F7A5A5;
$tables-color:#B1E3AC;
$time-slot-color:#FAD6AE;
