@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-Light.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMonoNL-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 62.5%;
}
html body {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.4rem;
  box-sizing: border-box;
}
html body h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
html body h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}
html body h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
html body .button {
  display: block;
  margin: 1rem;
  text-decoration: none;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  padding: 1rem 2rem;
  max-width: 150px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}
header .logo {
  padding-top: 0.8rem;
  display: inline-block;
}
header .logo img {
  width: 15%;
}
header .menu-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
header .navbar {
  width: 100%;
}
header .navbar > a {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
}

#home {
  color: #FFFFFF;
  text-align: center;
}
#home .welcome-section {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #000000 89%, #000000 100%), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/DSCF8786_Istg_-scaled.jpg") 37% 100%/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  height: 500px;
  width: 100%;
  position: relative;
}
#home .welcome-section .welcome-text {
  margin: 4rem 0;
}
#home .welcome-section .buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#home .welcome-section .buttons .grey-button {
  display: block;
  margin: 1rem;
  text-decoration: none;
  font-weight: 700;
  background-color: #2d2a27;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 1rem 2rem;
  max-width: 150px;
}
#home .story-section {
  background-color: #000000;
  padding: 2rem 1.5rem;
  position: relative;
}
#home .story-section h2 {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}
#home .story-section p {
  text-align: justify;
}

/*# sourceMappingURL=app.css.map */
