@use "../../../assets/styles/abstracts/" as *;

#login {
    text-align: center;
    h1 {
        text-transform: uppercase;
    }
    .logo {
        max-width: 130px;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0;
        .form-field {
            .input,
            .user-label {
                background-color: #d9d9d9;
                color: #6e6e6e;
            }

            .input {
                border: 1.5px solid #6e6e6e;
                
            }
        }
    }
    .button {
        margin: 2rem auto;
        @include square-btn($dark-grey, $white);
    }
    .error{
        color:$red-btn
    }
}
